<div class="container">

  <form class="form-horizontal" ng-submit="clients.save()">
    <div class="form-group">
      <label for="inputFirstName" class="col-sm-3 control-label">First Name</label>

      <div class="col-sm-9">
        <input type="text" class="form-control" id="inputFirstName" placeholder="e.g. John"
               ng-model="clients.user.firstName">
      </div>
    </div>
    <div class="form-group">
      <label for="inputLastName" class="col-sm-3 control-label">Last Name</label>

      <div class="col-sm-9">
        <input type="text" class="form-control" id="inputLastName" placeholder="e.g. Smith"
               ng-model="clients.user.lastName">
      </div>
    </div>
    <div class="form-group">
      <label for="inputPhone" class="col-sm-3 control-label">Phone Number</label>

      <div class="col-sm-9">
        <input type="text" class="form-control" id="inputPhone" placeholder="e.g. 8675309"
               ng-model="clients.user.phoneNumber">
      </div>
    </div>
    <div class="form-group">

      <label for="inputEmail" class="col-sm-3 control-label">Email Address</label>

      <div class="col-sm-9">
        <input type="text" class="form-control" id="inputEmail" placeholder="(Optional)"
               ng-model="clients.user.email">
      </div>
    </div>
    <div class="clearfix margin-bottom-20">
      <button type="submit" class="btn btn-success pull-right">Save</button>
    </div>
  </form>
</div>
