.main-view {
  margin-top: 70px;
}

.primary-text {
  color: #563d7d;
}

.secondary-text {
  color: #c5e9f6;
}

.success-text {
  color: #546046;
}

.login .panel {
  background: #c5e9f6;
  color: #563d7d;
  margin-top: calc(50vh - 150px);
}

.login .panel-heading {
  color: #563d7d;
  border-bottom: 1px solid #ccc;
}

.login .panel-heading > img {
  width: 40px;
}

.login .panel-heading > h3 {
  display: inline-block;
}

.login .panel-heading h3 {
  margin-top: 10px;
}

.navbar-default {
  background: #107fc2;
  color: #fff;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:active, .navbar-default .navbar-brand:focus  {
  background: #fff;
  color: #107fc2;
}

.navbar-nav > li > .dropdown-menu img {
  width: 24px;
}

.nav.navbar-nav > li > a > img{
  width: 24px;
}

.nav.navbar-nav > li > a > img.user-avatar {
  margin-top: -14px;
  top: 6px;
  position: relative;
  width: 32px;
}

.navbar-brand > img {
  display: inline-block;
  width: 28px;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:hover {
  color: #fff;
}

.navbar-default .navbar-toggle {
  background-color: #fff;
}

.top-bar .link-group {
  height: 43px;
  position: relative;
}

.home-light-blue {
  background: #c5e9f6;
  color: #107fc2;
}

.home-dark-blue {
 background-image: none;
   background: #107fc2;
  color: #c5e9f6;
}

.home-dark-green {
  background-color: #18a55e;
  color: #c5e9f6;
}

.panel > .panel-heading-dark-blue {
 	background-image: none;
   background: #107fc2;
  color: #c5e9f6;
}

.panel-default > .panel-heading-light-blue {
 	background-image: none !important;
	background: #c5e9f6 !important;
    color: #107fc2 !important;
}

.margin-top-5 {
  margin-top: 5px;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-top-40 {
  margin-top: 40px;
}

.margin-top-100 {
  margin-top: 100px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-bottom-40 {
  margin-bottom: 40px;
}

.margin-bottom-70 {
  margin-bottom: 70px;
}

.margin-bottom-100 {
  margin-bottom: 100px;
}

.mid-nav-label {
  margin-top: 10px;
  font: 18px arial, sans serif;
}

.relative {
  position: relative;
}

.home-box-callout {
  float: left;
  width: 20%;
  margin-bottom: 30px;
}

.home-box-callout > p {
  min-height: 55px;
}

.home-box-callout img {
  width: 120px;
}


.home-callout {
  margin-top: 60px;
  margin-bottom: 40px;
}

.home-callout > img {
  position: absolute;
  top: -20px;
  left: 0;
  width: 120px;
}

.home-callout-right {
  text-align: right;
}

.home-callout-right > img {
  left: auto;
  right: 0;
}


.label-outline {
	background: white;
	color: black;
}

.btn-primary {
  background: #107fc2;
  color: #c5e9f6;
}

.btn-info {
  background: #c5e9f6;
  color: #107fc2;
}

.stupidfooter {
  text-align: center;
  font-style: italic;
}

.footpic {
  left: 0;
  width: 100%;
}

.user-avatar {
  width: 32px;
  border-radius: 50%;
  border: 2px solid #ccc;
}

.nav-logo {
  background: #fff;
  border-radius: 5px 5px 0 0;
  display: inline-block;
  padding: 5px;
  position: relative;
  top: -10px;
}

.nav-logo img {
  height: 32px;
}

/* Small Devices, Tablets */
@media screen and (max-width: 767px) {
  .home-box-callout {
    float: left;
    width: 50%;
    margin-bottom: 30px;
  }

  .home-callout > img {
    position: relative;
  }
}

@media (min-width : 480px) and (max-width : 767px) {
  .home-box-callout:nth-child(5) {
    margin-left: 50%;
    left: -25%;
    position: relative;
  }
}
@media only screen and (max-width : 480px) {
  .home-box-callout {
    float: none;
    width: 100%;
  }
}
