<div class="top-bar margin-bottom-70">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="link-group">
          <a href="#/foodbank-sm"><img src="/assets/images/angular.png"></a>
          <a href="#/family-sm"><img src="/assets/images/angular.png"></a>
          <a href="#/community-sm"><img src="/assets/images/angular.png"></a>
          <a href="#/ihelp-sm"><img src="/assets/images/angular.png"></a>
          <a href="#/seniors"><img src="/assets/images/angular.png"></a>
        </div>
      </div>
    </div>
  </div>
</div>

<div ui-view></div>

