<div class="top-bar margin-bottom-70">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="link-group">
          <a href="#/foodbank-sm"><img src="/assets/images/foodbankplate-small.png"></a>
          <a href="#/family-sm"><img src="/assets/images/familylogo-small.png"></a>
          <a href="#/community-sm"><img src="/assets/images/rentaltext-small.png"></a>
          <a href="#/ihelp-sm"><img src="/assets/images/ihelpicon-small.png"></a>
          <a href="#/seniors"><img src="/assets/images/senioricon-small.png"></a>
        </div>
      </div>
    </div>
  </div>
</div>

<div ui-view></div>

<div class="home-dark-blue margin-top-100  stupidfooter">
  <div class="container">
    <img src="assets/images/footerpic.png" class="footpic">
    <div class="margin-bottom-40">
      Chandler Christian Community Center · Phone (480) 963-1423 · Fax (480) 726-0896 <br/>
      345 S. California St., Chandler, AZ 85225 · P.O. Box 591, Chandler, AZ 85244
    </div>
  </div>
</div>
