<div class="top-bar margin-bottom-70">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="link-group">
          <a href="#/"class="nav-logo"><img src="/assets/images/logo-only.png"></a>
          <a href="#/foodbank"><img src="/assets/images/foodbankplate-small.png"></a>
          <a href="#/family"><img src="/assets/images/familylogo-small.png"></a>
          <a href="#/community"><img src="/assets/images/rentaltext-small.png"></a>
          <a href="#/ihelp"><img src="/assets/images/ihelpicon-small.png"></a>
          <a href="#/seniors"><img src="/assets/images/senioricon-small.png"></a>
          <button ng-if="$root.user" class="btn btn-success pull-right margin-top-5" ui-sref="logout">Logout</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div ui-view></div>

<div class="home-dark-blue margin-top-100  stupidfooter">
  <div class="container">
    <a href="#/"><img src="assets/images/footerpic.png" class="footpic"></a>

    <div class="margin-bottom-40">
      Chandler Christian Community Center · Phone (480) 963-1423 · Fax (480) 726-0896 <br/>
      345 S. California St., Chandler, AZ 85225 · P.O. Box 591, Chandler, AZ 85244
    </div>
  </div>
</div>
