<ion-view title="My Food Bank">
	<ion-content>
		<div class="list card">
			<div class="item item-avatar">
				<img src="img/mcfly.jpg">
				<h2>Marty McFly</h2>
			</div>			
		</div>
		<div class="item item-text-wrap">
			You may pick up food at the Food Bank once Monday through Thursday per calendar month and every Friday.
		</div>
		<div class="item" ng-repeat="week in dateListObj">
			<div>
				<h3>{{week.start}} to {{week.end}}</h3>
			</div>
			<div class="button-bar button-inline">
				
				<a class="button button-large" 
					ng-class="{'button-balanced': (userFoodEventsObj.days[week.start].date == day || userFoodEventsObj.days[week.end].date == day) && eventsObj[day], 'disabled': eventsObj[day] === undefined }"
					ng-click="showEventDetailsModal(week, day, eventsObj[day])" ng-repeat="day in week.days">{{day | dateToDayShortName }}
				</a>			
			</div>				
		</div>
		<pre>{{ userFoodEventsObj | json}}</pre>
		<!--<pre>{{ userFoodEventsObj.days | json}}</pre>-->
		<!--<pre>{{eventsArr | json }}</pre>-->
		<pre>{{eventsObj | json }}</pre>
		<!--<pre>{{dateListObj | json }}</pre>-->
	</ion-content>
</ion-view>