<div class="modal">
	<!-- Modal header bar -->
	<ion-header-bar class="bar-secondary">
		<h1 class="title">Event: {{selectedEvent.name}}</h1>
		<button class="button button-clear button-positive" ng-click="closeEventDetailsModal()">Close</button>
	</ion-header-bar>

	<!-- Modal content area -->
	<ion-content>
		<div class="list card">
			<div class="item">
				{{selectedEvent.description}}
			</div>
			<div class="item item-icon-left">
				<p><i class="icon ion-ios-calendar-outline"></i>{{selectedEvent.date.start | date}}</p>
			</div>
			<div class="item item-icon-left">
				<i class="icon ion-clock"></i>{{selectedEvent.date.start | date : 'shortTime'}} - {{selectedEvent.date.end | date : 'shortTime'}}
			</div>
			<div class="item item-icon-left" ng-repeat="location in selectedEvent.locations">
				<i class="icon ion-home"></i> {{location.address1}}
				<br /> {{location.address2}}
				<br /> {{location.city}}, {{location.state}} {{location.zip}}
			</div>
			<div class="item item-icon-left item-toggle">
				<i class="icon ion-android-notifications"></i>Remind Me
				<label class="toggle">
					<input type="checkbox" ng-model="selectedEvent.remindMe" ng-checked="selectedEvent.remindMe">
					<div class="track">
						<div class="handle"></div>
					</div>
				</label>
			</div>
			<div class="item">
				<button class="button button-block button-positive" ng-click="saveDay()">
					{{ saveButtonText }}
				</button>
			</div>
		</div>
	</ion-content>
</div>